header {
  padding-bottom: 0;
}

ul {
  padding-left: 0;
}

.breadcrumbs {
  background-color: #2e3579;
}

.breadcrumbs a,
.breadcrumbs span {
  color: #fff !important;
}

.card-top {
  background-color: #2e3579;
}

.card-top h3 {
  display: inline-block;
  color: #fff;
  padding-left: 20px;
  font-size: 40px;
  font-weight: 600;
}

.card-price {
  position: absolute;
  right: 0;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  padding: 20px 40px 0px 40px;
  background-color: #ffa89c;
  border-radius: 10px 10px 0px 0px;
}

#menu-st2,
#menu-st3,
#menu-st4 {
  display: none;
}

.card-menu li {
  width: 180px;
}

.card-menu li input[type="radio"] {
  display: none;
}

.card-menu li input[type="radio"]:checked + label {
  background: #fff;
  color: #2e3579;
}

.card-menu li input[type="radio"]:checked ~ span {
  position: absolute;
  z-index: 2;
  border: 45px solid transparent;
  border-left: 45px solid #fff;
}

.card-menu li label{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  padding: 30px 10px;
  text-align: center;
  width: 162px;
  cursor: pointer;
}

.active-menu {
  position: relative;
  padding-right: 0;
}

.card-bottom2{
  display: none;
}

.card-bottom,
.card-bottom2 {
  background: url("../img/bg-bg2.jpg") no-repeat;
  background-size: cover;
  padding-top: 20px;
}


.card-bottom h2,
.card-bottom2 h2 {
  color: #2e3579;
  font-weight: 600;
  font-size: 36px;
  display: inline-block;
  margin-top: 0;
  padding-left: 15px;
}

.card-bottom2 p {
  margin-bottom: 20px;
}

.card-bottom2 p.ekskurs {
  color: #fd5d47;
  padding-left: 15px;
  font-size: 16px;
}

.card-bottom2 p {
  color: #2e367a;
  padding-left: 15px;
  font-size: 18px;
}

.card-bottom2 p.way {
  font-size: 19px;
  text-align: center;
  font-weight: 600;
  color: #2e367a;
}

.trip-way {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #2e367a;
}

.trip-way img {
  width: 25px;
}

.trip-way span {
  color: #2e367a;
  font-size: 18px;
  font-weight: 600;
}

.trip-way p {
 padding: 10px 15px 0;
}

.trip-way i {
  color: #fd5d47;
}

.trip-way p.time {
  display: inline-block;
}

.trip-way .dela {
  width: 25px;
  float: right;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 10px;
}

.all-time {
  font-size: 22px;
  font-weight: 600;
  color: #2e367a;
  margin-bottom: 25px;
}

.all-time  i {
  color: #fd5d47;
  font-size: 26px;
}

.card-bottom i {
  font-size: 24px;
  vertical-align: top;
}

.card-bottom p,
.card-bottom span,
.card-bottom li {
  color:  #2e3579;
  font-size: 18px;
}

.card-fe-places i {
  color: #ffada2;
  margin-right: 10px;
}

.mini-map {
  width: 200px;
  height: 200px;
  background: #bbb;
  margin-bottom: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.75);
}

.check {
  display: inline-block;
  width: 25px;
  height: 25px;
  background:url("../img/icons2.png") right top no-repeat;
  background-size: 50px;
}

.card-bottom-bot {
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-check-square-o {
  margin-right: 20px;
}

.trip {
  margin-top: 100px;
  margin-bottom: 20px;
}

.trip img {
  width: 250px;
}

.trip a {
  margin-right: 20px;
  float: right;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

.gallery .small img {
  margin-bottom: 15px;
  width: 90%;
}
/*********/
/*Жопушки*/
/*********/

.carousel-inner {
  height: 379px;
}

#carousel-1 .item img,
#carousel-2 .item img   {
  width: 100%;
  margin-left: 0;
  height: 379px;
}

#carousel-1 i,
#carousel-2 i  {
  position: absolute;
  font-size: 32px;
  top: 45%;
}

#carousel-1 ol,
#carousel-2 ol {
  width: 100%;
  left: auto;
  bottom: 0;
  padding: 10px 0;
  margin-bottom: 0;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#carousel-1 ol li,
#carousel-2 ol li  {
  width: 95px;
  height: 60px;
  text-indent: 0;
}

#carousel-1 ol .active,
#carousel-2 ol .active {
  border: 2px solid  #2e3579;
}

#carousel-1 ol li img,
#carousel-2 ol li img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#carousel-1 .description,
#carousel-2 .description {
  position: absolute;
  top: 25px;
  margin: 15px 14%;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: right;
}
#carousel-1 .description i,
#carousel-2 .description i {
  position: static;
  color: #fd5d47;
}

#carousel-1 span,
#carousel-2 span {
  font-size: 26px;
  font-weight: 600;
  color: #2e3579;
}

#carousel-2 h4 {
  font-size: 36px;
  font-weight: 600;
  color: #2e3579;
}

#carousel-2 p {
  padding-left: 10%;
  font-size: 16px;
  color: #000;
}

#carousel-1,
#carousel-3 {
  background-color: #fff;
  width: 100%;
  height: 379px;
}

#carousel-3 .carousel-control {
  top: 47%;
  color: #000;
}

#carousel-3 .item img {
  margin-top: 95px;
  width: 15%;
}

#carousel-3  .carousel-caption {
  left: 370px;
  bottom: -20px;
  color: #000;
  text-shadow: none;
}

#menu-st4 {
  height: 379px;
  background-color: #fff;
}

#menu-st4 .sub-tabs {
  background: #f0e8f3;
  overflow: hidden;
  height: 60px;
  -webkit-box-shadow: inset 1px -17px 10px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 1px -17px 10px -16px rgba(0,0,0,0.75);
  box-shadow: inset 1px -17px 10px -16px rgba(0,0,0,0.75);
}

#menu-st4 .sub-tabs input[type="radio"] {
  display: none;
}

#menu-st4 .sub-tabs li {
  display: inline-block;
}

#menu-st4 .sub-tabs input[type="radio"]:checked ~ label {
  color: #2e3579;
  background: #fff;

  -webkit-box-shadow: 0px -2px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 10px 2px rgba(0,0,0,0.75);
}

#menu-st4 .sub-tabs label {
  padding: 10px 15px;
  padding-right: 25px;
  color: #909092;
  font-size: 22px;
  cursor: pointer;
}

#menu-st4 .sub-tabs i {
  padding: 10px 15px;
  color: #909092;
  font-size: 22px;
  cursor: pointer;
}

#menu-st4 .route {
  padding-left: 20px;
  padding-right: 25px;
}

#menu-st4 .route input[type="radio"] {
    display:none;
}
#menu-st4 .route input[type="radio"] + label {
  font-size: 16px;
  color: #2e3579;
  cursor: pointer;
  margin-right: 20px;
}

#menu-st4 .route input[type="radio"] + label::before {
    content: "";
    position: relative;
    top: 5px;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 0 10px 0 5px;
    background: url("../img/radio.png") left top no-repeat;
    background-size: 45px;
}

#menu-st4 .route input[type="radio"]:checked + label::before {
  background-position: right top;
}

#menu-st4 .col {
  display: inline-block;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  vertical-align: top;
}

#menu-st4 .col i {
  color: #909092;
  font-size: 32px;
  cursor: pointer;
}

.exch {
  text-align: center;
}

.lefrigh {
  position: relative;
}

.lefrigh i {
  position: absolute;
  top: 4px;
  left: 5px;
}

#menu-st4 input[type="text"] {
  padding: 8px 15px 8px 34px;
  width: 140px;
  color: #909092;
  margin-bottom: 15px;
  border-radius: 6px;
  background: #f0e8f3;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: inset 0px 0px 100px -33px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 100px -33px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 100px -33px rgba(0,0,0,0.75);
}

.icon {
    filter: grayscale(1);
  opacity: 0.5;
}

.icon-1 {
  top: 63px;
  left: 6px;
}

.icon-3 {
  top: 117px;
  left: 6px;
}

.icon-2 {
  top: 63px;
  left: 6px;
}

@media (min-width: 1201px) {
  .card-menu li label {
  right: -32px;
  }

  .card-menu li input[type="radio"]:checked ~ span {
  right: -104px;
  }
}

@media (max-width: 1201px) {

  #carousel-3 .carousel-caption {
    left: 260px;
  }

  .card-menu li label {
  width: 161px;
  }
}

@media (max-width: 992px) {
  .action-row {
    /*display: none;*/
  }

  .card-menu li {
    display: inline-block;
    width: 23%;
  }

  .card-menu li label {
    font-size: 12px;
    padding: 5px 10px;
  }

  .card-menu li input[type="radio"]:checked ~ span {
    border: none;
  }

  /*#menu-st1,
  #menu-st2,
  #menu-st3,
  #menu-st4 {
    display: block;
  }*/

  .active-menu {
    width: 100%;
    padding-left: 0;
  }

  .card-price {
    background-color: transparent;
  }


}

@media (max-width: 768px) {
  .active-menu {
    padding-left: 0;
  }

  /*#menu-st2,
  #menu-st3 {
    display: none;
  }*/

.gallery .small img {
  width: 25%;
}

  .carousel-indicators {
    display: none;
  }

  #menu-st4 .col {
  width: 32%;
  }

  #menu-st4 input[type="text"] {
    width: 100%;
}
}

@media (max-width: 565px) {
.trip {
    text-align: center;
  }

.trip a {
  float: none;
  }

  .card-price {
    font-size: 18px;
  }
  .card-top h3 {
    font-size: 18px;
  }

  .card-menu li input[type="radio"]:checked + label {
  background: transparent;
  color: #fff;
  text-decoration: underline;
  }

  #carousel-3 img {
    display: none;
  }

  #carousel-3 .carousel-caption {
    left: 15%;
    bottom: auto;
  }

  #menu-st4 .fa-map-marker{
    font-size: 0 !important;
  }

  #menu-st4 input[type="text"] {
    padding-left: 5px;
  }

  .icon {
    opacity: 0;
  }

  #menu-st4 .sub-tabs i {
    font-size: 20px;
    padding: 10px 6px;
  }

  #menu-st4 .sub-tabs label {
    font-size: 14px;
    padding: 10px 6px;
  }
}
