header {
  padding-bottom: 0;
  background-position: 0 12%;
}

ul {
  padding-left: 0;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  color: #2d3579;
  padding: 5px 15px;
  padding-left: 35px;
}

input.search {
  width: 95%;
  margin-bottom: 25px;
}

input.calend {
  width: 150px;
  margin-bottom: 25px;
  padding-left: 40px;
  margin-right: 10px;
}

input.calend:last-child {
  margin-right: 33px;
}

input.persons {
  width: 180px;
  padding-left: 40px;
}

.filter {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2e3679;
}

input[type="checkbox"] {
  display:none;
}

label {
  cursor: pointer;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width: 25px;
    height: 25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("../img/icons2.png") left top no-repeat;
    background-size: 50px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span {
    background:url("../img/icons2.png") -26px top no-repeat;
    background-size: 50px;
}

.filter i {
  position: absolute;
  font-size: 24px;
  left: 7px;
  top: 3px;
  color: #2d3579;
}

.filter ul li {
  display: inline-block;
  margin-right: 20px;
}

.filter ul li:last-child {
  margin-right: 0;
}

.ran-slid {
  margin-top: -10px;
  text-align: right;
}

.ran-slid span {
  font-size: 18px;
}

.flat-slider {
  margin-top: 10px;
  margin-left: 240px;
  width: 310px;
}

.slider-title {
  margin-right: 75px;
}

.main-catalog {
  background: url("../img/bg-bg2.jpg") no-repeat;
  background-size: cover;
  padding-top: 20px;
}

.map {
  width: 100%;
  height: 350px;
  background: #bbb;
  border-radius: 6px;
}

.catalog-list {

}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 32.5%;
  margin-right: 0.75%;
  height: 255px;
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 12px 30px 5px rgba(255,255,255,0.75);
  -moz-box-shadow: inset 0px 12px 30px 5px rgba(255,255,255,0.75);
  box-shadow: inset 0px 12px 30px 5px rgba(255,255,255,0.75);
}

.catalog-item img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.catalog-item > div {
  position: absolute;
  padding: 4px 8px;
  background: #fff;
  width: 100%;
  bottom: 0;
}

.catalog-item > div span,
.catalog-item > div i {
  color: #2d3579;
}

.catalog-item > div i {
  font-size: 48px;
  margin-right: 8px;
}

.cat-item-prof {
  font-size: 22px;
  position: absolute;
  left: 50px;
  bottom: 11px;
}

.cat-item-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 4px;
}

.cat-item-link:hover {
  background: rgba(46, 54, 121, 0.25);
}

.cat-item-price {
  font-size: 26px;
  position: absolute;
  right: 20px;
  bottom: 8px;
}

.catalog-item h3 {
  position: relative;
  font-weight: 600;
  color: #2d3579;
  font-size: 26px;
  padding: 4px 8px;
}

/**********/
/*слайдер**/
/**********/

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #fff;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #bbb;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 7;
  background: #ffa89c;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 6px;
}

/*******/
/*Media*/
/*******/

@media (max-width: 1200px) {
  .ran-slid {
  margin-top: 0;
  }

  .flat-slider {
    margin-left: 140px;
  }
}

@media (max-width: 992px) {
  .ran-slid {
    text-align: inherit;
  }

  .flat-slider {
    margin-left: 0;
  }
}

@media (min-width: 738px) {
  .catalog-item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media (min-width: 498px) and (max-width: 738px) {
  .catalog-item {
    width: 48.5%;
    margin-right: 2.25%;
  }

  .catalog-item:nth-child(2n) {
    margin-right: 0;
  }

}

@media (max-width: 498px) {
  .catalog-item {
    width: 99%;
    margin: 10px auto;
  }

  .slider-title {
    margin-right: 15px;
  }

  .flat-slider {
    width: 100%;
  }
}
