@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  background: #7272b2;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 38px;
}

a {
  color: #fff;
  transition: 0.2s;
}

a:hover {
  color: #fba69b;
}

ul {
  list-style: none;
}

.relative {
  position: relative;
}

header {
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(12,44,86,1) 100%),
  url("../img/bg-head.jpg") center  no-repeat;
  background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(12,44,86,1) 100%),
  url("../img/bg-head.jpg") center  no-repeat;
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(12,44,86,1) 100%),
  url("../img/bg-head.jpg") center  no-repeat;
  background-size: 100%;
  padding-top: 15px;
  padding-bottom: 170px;
}

.in-block {
  display: inline-block;
}

.logo {
  width: 130px;
}

header a {
  font-size: 16px;
}

header .telef{
  float: right;
}

.btn {
  background: #fba69b;
  padding: 7px 25px;
  font-size: 18px;
}

header .btn {
  float: right;
  margin-left: 10px;
}

.navigation {
  padding-left: 0;
  margin-top: 10px;
}

.navigation li {
  display: inline-block;
  margin-right: 90px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation li a {
  font-size: 18px;
}

.hmid {
  margin-bottom: 30px;
}

.cart i{
  font-size: 36px;
  margin-right: 15px;
  margin-left: 15px;
  float: left;
}

.cart span {
  vertical-align: top;
}

.hbott p {
  padding-top: 10px;
  font-size: 16px;
}

.hbott .btn {
  float: none;
  margin: 0 auto;
}

.breadcrumbs {
  background: rgba(255, 255, 255, 0.8);
  margin-right: 0;
}

.breadcrumbs ul {
  margin-left: 0;
  padding-top: 5px;
}

.breadcrumbs ul li {
  display: inline-block;
  margin-right: 15px;
}

.breadcrumbs ul li span,
.breadcrumbs ul li a  {
  font-size: 16px;
  color: #0C2C56;
}

.hots {
  background: url("../img/bg-2sec.png");
  background: #0C2C56;
}

.hots h2 {
  margin-bottom: 25px;
}

.hots-item {
  position: relative;
  min-height: 400px;
}

.item-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.item-link {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.hots-item img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.float-left {
  float: left;
}

.price {
  position: absolute;
  top: 15px;
  left: 10%;
  z-index: 2;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 6px 5px;
}

.temper {
  position: absolute;
  top: 15px;
  right: 5%;
  z-index: 2;
  text-align: right;
}

.temper span {
  color: rgba(255, 255, 255, 0.5);
}

.celsy {
  font-size: 24px;
}

.item-info {
  position: absolute;
  bottom: 15px;
  left: 10%;
  z-index: 2;
}

.item-info i {
  position: relative;
  top: 25px;
  float: left;
  font-size: 54px;
  margin-right: 10px;
}

.hotel-place {
  display: block;
  font-size: 22px;
}

.hotel-name {
  display: block;
  font-size: 24px;
  white-space: nowrap;
}

.item-info span i {
  top:0;
  font-size: 14px;
  float: none;
  margin-right: 0;
  color: #fcaf17;
}

.features {
  background: url("../img/bg-3sec.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.features h3 {
  font-size: 10em;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.fea-block {
  padding: 25px 25px;
  background: rgba(59, 54, 99, 0.5);
}

.fea-block:first-child {
  margin-top: 20px;
}

.fea-block:last-child {
  margin-bottom: 30px;
}

.features p {
  font-size: 18px;
  width: 75%;
  display: inline-block;
}

.edemR {
  padding-top: 40px;
}

.otziv {
  background: #fff;
}

.otziv h3 {
  text-align: center;
  color: #2e3679;
  font-size: 28px;
}

.item img {
  margin-left: 14%;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
}

.otziv i {
  margin-top: 120px;
  font-size: 42px;
  color: #474d85;
}

.otziv span {
  color: #474d85;
  font-size: 16px;
  text-shadow: none;
}

.cap-name {
  position: absolute;
  bottom: -15px;
  right: -15px;
  background-color: #9396b9;
  padding: 6px 25px;
  color: #fff !important;
}

.carousel-caption {
  left: 420px;
  bottom: 40px;
  text-align: left;
}

.aliens {
  background: url("../img/bg-4sec.jpg") no-repeat;
  background-size: 100%;
  padding-bottom: 80px;
}

.aliens h3 {
  font-family: 'Playfair Display', serif;
  margin-top: 60px;
  font-size: 48px;
}

.aliens p {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.welcome {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 5px solid #67679e;
}

.welcome > div {
  text-align: center;
}

.welcome p {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
}

.welcome a,
.welcome span {
  white-space: pre-line;
  font-size: 18px;
}

.welcome i{
  font-size: 64px;
}

footer {
  position: relative;
  background: #39394e;
  padding-top: 15px;
}

footer .navigation {
  margin-top: -5px;
}

.social {
  float: right;
}

footer::after {
  content: "";
  z-index: 1;
  position: absolute;
  height: 1px;
  left: 0;
  bottom: 38px;
  right: 0;
  background-color: #42425a;
}

.social li {
  z-index: 2;
  position:relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.social li a {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 34px;
  background-color: #42425a;
  text-align: center;
  border-radius: 10px;
}

.social li a:hover {
  background: #67679e;
}

.social li i {

  color: #000;
}

.icon {
  background-image: url(../img/icons1.png);
  position: absolute;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-size: 72px;
}

.icon-1 {
  top: 5px;
  left: 8px;
  width: 23px;
  height: 26px;
  background-position: 0 0;
}

.icon-2 {
  top: 5px;
  left: 8px;
  width: 23px;
  height: 26px;
  background-position: -22px 0;
}

.icon-3 {
  top: 5px;
  left: 8px;
  width: 26px;
  height: 26px;
  background-position: -47px 0;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    width: 55px;
}

.sprite-1 {
    width: 48px;
    height: 62px;
    background-position: 0 0;
}

.sprite-2 {
    width: 56px;
    height: 56px;
    background-position: 0 -62px;
}

.sprite-3 {
    width: 47px;
    height: 55px;
    background-position: 0 -118px;
}

.sprite-4 {
    width: 43px;
    height: 53px;
    background-position: 0 -173px;
}

.c-gold {
  color: #fcaf17 !important;
}

.c-orange {
  color: #fd5d47 !important;
}

.c-purple {
  color: #7272b2 !important;
}

@media (max-width: 920px) {
  header,
  .features,
  .aliens {
    background-size: cover;
  }
}

@media (max-width: 990px) {
  .hots-item {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }

  .features h3 {
    font-size: 5em;
  }
}

@media (max-width: 380px) {
  header .logo {
    width: 65px;
  }
}

@media (max-width: 600px) {
  .hots-item {
  width: 100%;
  margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .otziv {
  display: none;
  }
}
